html,body{
  margin: 0;
  background-image: linear-gradient(135deg, #f5f7fa, #c3cfe2, #f5f7fa, #c3cfe2);
  font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size:80%;
  height: 2436px;
  width: 1125px;
}

footer{
  background-color: #FFF;
  width: 1125px;
}

.title_logo_box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_logo{
  height: 50%;
  width: 105%;
}

.register_box{
  position: absolute;
  top: 10px;
  left: 780px;
  width: 100%;
}

.register_moji{
  font-size: 25px;
}

.form_box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type_select{
  font-size: 50px;
  margin: 15px;
  text-align: center;
}

.budget_select{
  font-size: 50px;
  margin: 15px;
  text-align: center;
}

.Circle_box{
  width: 1125px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Circle_border{
  border: outset 10px #44CF8A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type_Circles{
  width: 230px;
  height: 250px;
  padding: 10px;
}

.money_Circles{
  width: 500px;
  height: 250px;
  padding: 10px;
  display: none;
}

.Lets_Start_box{
  display: flex;
  justify-content: center;
}

.StartMoji{
  font-size: 50px;
  color: red;
  font-style: oblique;
}

.sen_box{
  padding-top: 50px;
  border-bottom: 2px dashed red;
}

.moji_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1{
  margin: 0px;
  color: #44CF8A;
  -webkit-text-stroke: 2px #000;
  font-size: 80px;
}

h2{
  margin: 0px;
  padding-left: 50px;
  text-align: left;
  font-size: 75px;
}

.moji_body{
  font-size: 40px;
}

.caution{
  font-size: 40px;
  color: red;
}
