<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <center>
    <meta charset="utf-8">
    <form action="" method="post">
    <title>ボンビーウォーカー登録ページ</title>
<p>みんなのおすすめを登録してみよう！！<p>
  <p>場所は？<p>
  <input type="search" name="place"> <input type="submit" name="submit" value="探す"
   <div>
  		 <p><for="s_job">ジャンルは？</label><p>
  		<select id="s_job" name="job">
  			<option value="">選択してください</option>
  			<option value="休憩">休憩</option>
  			<option value="レジャー・スポーツ">レジャー・スポーツ</option>
  			<option value="娯楽">娯楽</option>
  			<option value="グルメ">グルメ</option>
        <option value="ショッピング">ショッピング</option>
        <option value="パワースポット">パワースポット</option>
        <option value="トイレ">トイレ</option>
        <option value="デートスポット">デートスポット</option>
  		</select>
   </div>
    <div class="btn_area">
  	</div>
  </head>
  <body>
  <p>値段は？（半角数字）<p>
    <input type="number" name="num" max="1000">
  <p>どんな事ができた？<p>
    <textarea rows =2 cols="50" name="cando"></textarea>
    <p><input type="submit" name="submit" value="登録！"><p>
  </body>
  </form>
<center>
</html>
