<div class="search_window">
     <form action="/login" method="post">
       <table border="0">
           <text align="right"><b> ID:</b>
           <input type="text" size=20 name="identity" maxlength="16">
           <text align="right"><b> Password:</b>
           <input type="password" name="password" size="10" maxlength="8">
           <a href="./commons/mypage.html"><input type="button" value="ログイン" class="button is-info is-small"></a>
     </form>
     {% if IsValue%}
      <font color="red" class="error_message">IDまたはパスワードが未入力です。値を入力してください。</font><br>
     {% endif %}
   </div>
