<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <center>
    <meta charset="utf-8">
  <form>
      <title>ボンビーウォーカー登録ページ</title>
<p>みんなのおすすめを登録してみよう！！</p>
<p>どこらへん？</p>
  <form action="cgi-bin/example.cgi" method="post">
  <input type="search" name="search" placeholder="(例)花小金井駅">
  <input type="submit" name="submit" value="検索">
</form>
   <div>
  		 <p><label for="s_job">ジャンルは？</label></p>
  		<select id="s_job" name="job">
  			<option value="">選択してください</option>
  			<option value="休憩">休憩</option>
  			<option value="レジャー・スポーツ">レジャー・スポーツ</option>
  			<option value="娯楽">娯楽</option>
  			<option value="グルメ">グルメ</option>
        <option value="ショッピング">ショッピング</option>
        <option value="パワースポット">パワースポット</option>
        <option value="トイレ">トイレ</option>
        <option value="デートスポット">デートスポット</option>
  		</select>
   </div>
    <div class="btn_area">
  	</div>
  </head>
  <body>
  <p>値段は？（半角数字）</p>
  <Form>
    <input type="number" name="num">
  </form>
  <p>何ができた？</p>
    <textarea rows =10 cols="40"></textarea>
    <p><input type="submit" name="submit" value="登録！"></p>
    </form>
  </body>
</html>
</center>
